{% extends 'index.html' %}
{% load static %}
{% block main %}
  <main id="main" class="main">

    <div class="pagetitle" style="justify-content: space-between;display: flex;">
      <div>
        <h1>Cards</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index">Home</a></li>
            <li class="breadcrumb-item">Components</li>
            <li class="breadcrumb-item active">Cards</li>
          </ol>
        </nav>
      </div>
      <div>
        <p class="card-text"><a data-bs-toggle="modal" data-bs-target="#modalAddProduct" onclick="get_fields()" class="btn btn-primary">Add Product</a></p>
      </div>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row align-items-top">
        <div class="col-lg-12 d-flex flex-wrap justify-content-around align-items-center">

          <!-- Card with an image on top -->
          <div class="card col-lg-3 m-lg-1">
            <img src="{% static 'img/card.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card with an image on top</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div><!-- End Card with an image on top -->

          <!-- Card with an image on top -->
          <div class="card col-lg-3 m-lg-1">
            <img src="{% static 'img/card.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card with an image on top</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div><!-- End Card with an image on top -->

          <!-- Card with an image on top -->
          <div class="card col-lg-3 m-lg-1">
            <img src="{% static 'img/card.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card with an image on top</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div><!-- End Card with an image on top -->

          <!-- Card with an image on top -->
          <div class="card col-lg-3 m-lg-1">
            <img src="{% static 'img/card.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card with an image on top</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div><!-- End Card with an image on top -->

          <!-- Card with an image on top -->
          <div class="card col-lg-3 m-lg-1">
            <img src="{% static 'img/card.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card with an image on top</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div><!-- End Card with an image on top -->

        </div>
      </div>
    </section>

  </main><!-- End #main -->

{% endblock %}